ul {
    list-style-type: none;
    padding: 0;
}

*:focus {
    outline: none;
}
body { 
    margin: 0;
    background-color: #FEF6C1;
}

button {
    background: transparent;
    border: 0;
}

/* nav-bar */


.upper-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;
}

.website-logo { 
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    padding: 10px 30px;
    border-color: #B58237;
    cursor: pointer
}

.search-bar {
    background-color: #B58237;
    display: flex;
    border-radius: 15px;
    height: 3rem;
    align-items: center;
}

.search-bar-input {
    background-color: #B58237;
    border: 0;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    width: 20rem;
}

.search-bar img {
    width: 1.5rem;
    height: 2rem;
    cursor: pointer;
    padding: 0 10px;
}

.nav-bar-options {
    display: flex;
    gap: 1rem;
    align
}

.options {
    background-color: #B58237;
    padding: 7px;
    border-radius: 13px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.options:hover {
    background-color: #B5823790;
}

.options img {
    width: 1.7rem;
}


.categories-list {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #283618; 
}

.category {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 1.4rem 2rem;
}

.category:hover {
    background-color: #37402D;
}

/* carousel */

.carousel-container {
    overflow: hidden; 
    height: 56vh;
}

.carousel-view {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.images-container {
    position: relative;
    height: 100%;
    margin: 0;
    height: 100%;
    transition: transform 500ms ease-in;
}

.carousel-slide{
    position: absolute;
    top: 0; 
    bottom: 0;
    width: 100%
}

.carousel-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button--right {
    right: 20px;
}

.carousel__button--left {
    left: 20px;
    z-index: 2;
}

.carousel__button img {
    width: 3rem;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem 0;
}

.carousel-indicator {
    width: 12px;
    height: 12px;    
    background: rgba(188,108,37,.50);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgba(188,108,37);
}

.is-hidden {
    display: none;
}