body {
    min-height: 100vh;
    position: relative;
}

#payment-container {
    margin: 15rem 0 10rem 0;
    display: flex;
    justify-content: center; 
}

.payment-second-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.payment-content {
    background-color: #FEF6C180;
    padding: 2rem; 
    border-radius: 20px;
}

#select-payment-method {
    padding: 0.2rem ;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    max-width: 70%;
}

button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: #fcd53f;
    padding: 0.4rem 0.9rem;
    border-radius:9999px;
    font-weight: 800;
    margin: auto;
    display: flex;
    
}

h1 {
    margin-bottom: 2rem; 
}

h2 {
    font-size: 30px;
    color: #180763;
    text-transform: uppercase;
    font-weight: 800;
}

select {
    font-size: 15px;
}

option {
    font-size: 15px;
}

.payment-method-input {
    display: flex;
    flex-direction: column;
}

#billing-warning {
    font-size: 13px;
    margin-bottom: 2rem;
}

.link-tag {
    color: black;
    text-decoration: underline;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#payment-logos-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.payment-logos {
    width: 4rem;
}

#gcash-logo {
    height: 3rem;
    width: 8rem;
}

#payment-options {
    background-color: #FEF6C180;
    padding: 2rem; 
    border-radius: 20px;
    max-width: 30vw;
    margin: auto;
}

#bill-summary {
}

.price-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.original-price-container {
    border-bottom: solid;
    border-width: 1px;
    border-color: #80808040
}

#total-price {
    font-weight: 700;
}

.small-words {
    font-size: 13px;
    text-align: center;
    margin-bottom: 2rem;
}